body {
    background: #283593;
  }
  .gameboy {
    position: relative;
    display: block;
    margin: 100px auto;
    width: 800px;
    height: 700px;
    background: #777;
    border-radius: 10px 10px 60px 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  }
  .gameboy:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 31px;
    border-bottom: 4px solid #e0e0e0;
  }
  .gameboy:after {
    content: "";
    position: absolute;
    top: 0;
    width: 334px;
    height: 31px;
    border-left: 4px solid #e0e0e0;
    border-right: 4px solid #e0e0e0;
    margin-left: 40px;
    margin-right: 40px;
  }
  .gameboy .screen-cont {
    position: relative;
    top: 50px;
    left: 40px;
    width: 725px;
    height: 485px;
    margin-bottom: 58px;
    background-color: #000;
    border-radius: 13px 13px 50px 13px;
  }
  .gameboy .screen-cont .screen {
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    width: 630px;
    height: 410px;
    box-shadow: inset 3px 3px rgba(0, 0, 0, 0.15);
  }
  
  .gameboy .screen-cont .power {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 100px;
    left: 20px;
    border-radius: 100%;
    background-color: #b98181;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
  }
  .gameboy .screen-cont .power:before {
    content: "BATTERY";
    position: relative;
    top: 18px;
    left: -10px;
    font-size: 8px;
    font-family: sans-serif;
    color: #b3b3b3;
  }
  .gameboy .screen-cont .power.power-on {
    background-color: #f00;
    box-shadow: 0 0 3px 1px #ef5350;
  }
  .gameboy .controls-cont {
    display: block;
    position: relative;
    margin-top: 20px;
  }
  .gameboy .controls-cont .btn-direction {
    position: relative;
    margin-left: 40px;
    top: 20px;
  }
  .gameboy .controls-cont .btn-direction:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 44px;
    left: 30px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    z-index: 3;
  }
  .gameboy .controls-cont .btn-direction .vertical,
  .gameboy .controls-cont .btn-direction .horizontal {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 100px;
    background: #444;
    border-radius: 5px;
  }
  
  .gameboy .controls-cont .btn-direction .horizontal{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 2;
    
  }
  .gameboy .controls-cont .btn-fire{
    position: absolute;
    top: 10px;
    left: 624px;
    width: 130px;
    height: 130px;
    background-image: url("../images/ilustracion-globo-reventa.jpg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 100%;
    border-color:  #dfdfdf;
  }
  .gameboy .controls-cont .btn-start {
    position: absolute;
    top: 80px;
    left: 340px;
    height: 45px;
    width: 95px;
    background: #999;
    border-radius: 10px;  
  }
  
  canvas{
    width: 630px;
    height: 410px;
    min-width: min-content;
  }
  
  .background-canvas{
    background-image: url("../images/fondo-animado-cielo-azul-full-apk.png");
    z-index: 1;
    background-size: cover;
  }
  
  .gameboy .controls-cont .btn-direction .vertical{
    height: 60px;
    z-index: 1;
  }
  
  .gameboy .controls-cont .btn-direction .down{
    height: 120px;
    z-index: 0;
  }
  
  .gameboy .controls-cont .btn-direction .horizontal{
    top: 9px;
  }